config/config.php
public/testPush.php
public/cronjobs
app/config/config.php
app/cronjobs/CronJobsConstans.php
/nbproject/private/
desktop.ini
.idea/workspace.xml
.idea/api.iml

# Ignore Mac DS_Store files
.DS_Store

# Ignore Pueba de mail
public/mailing/cashcommerce/infopin/PHPMailer/
public/mailing/cashcommerce/infopin/email (copia).html
public/mailing/cashcommerce/infopin/html.html
public/mailing/cashcommerce/infopin/pemail.php

.htaccess
